{% extends 'myapp/base.html' %}


{% block content %}
<style>
    body {
  background-image: url("https://images.unsplash.com/photo-1650229969283-0b48ed864d1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
}
    h1 {
  margin-top: 125px;
  font-family: Poppins;
  color: white;
}
    h2 {
  font-family: Poppins;
  color: white;
}
</style>
<body>

    <center><h1>Welcome To HexMove</h1></center>
    <center><h2>Ride Along With Hex</h2></center>

</body>
{% endblock %}